@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin:0;
  }
  #card{
    width:50%;
    max-width:50vw;
    height:50vh;
    margin:auto;
    text-align: center;
    transition: transform .5s;
    background-color:white;
}
  #card h3{
    width: 500px;
    height:fit-content;
    color:darkblue;
    background-color:aqua;
    margin-top: 100px;
    font-size: xx-large;
    font-weight:bold;
  }
  #card p{
    width:500px;
    height:fit-content;
    color:black;
    background-color: aliceblue;
  }
  
 