.lib{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color:green;
    text-align: center;

}
.lib table tr td input{
    font-size: x-large;
}
.lib div button{
    font-size: x-large;
}
.vll {
  border-left: 6px solid green;
  height: 300px;
}
.df{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;

}
.vlr {
    border-left: 6px solid green;
    height: 300px;
  }
  .hl {
    border-left: 6px solid green;
  }
  @media only screen and (max-width : 450px){
    .df{
      display: block;
    }

  }
  
